@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400&display=swap");

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  line-height: 1.5em;
  background: rgb(252, 252, 252);
}
img {
  overflow: hidden;
}
h1 {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.5em;
  margin-bottom: 1.5rem;
}
.h1 {
  font-weight: 700;
  font-size: 1.35rem;
  line-height: 1em;
  margin-bottom: 1rem;
}

h2 {
  color: #a01127;
  border-bottom: 3px solid;
  padding-bottom: 10px;
  margin-top: 1rem;
}

/* 


MAIN --> index.html 


*/
main a {
  color: black;
  font-weight: 700;
}
main nav ul li {
  list-style-type: none;
}
main nav ul li a {
  text-decoration: none;
}

main a:hover {
  color: #a01127;
}
/*


HOME --> index.html
 

 
 */
#home {
  width: 100vw;
  height: 100vh;
  background-image: url(./img/FotoPortada.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  text-align: center;
}
#home ul {
  padding-left: 0px;
}
#home main {
  padding-top: 20vh;
}
#home main div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding-top: 10vh;
  background-color: honeydew;
  opacity: 0.8;
  height: auto;
  padding-bottom: 2vh;
}
/*



HEADER


*/
header {
  background-color: slategray;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding-top: 0vh;
  opacity: 0.8;
  height: auto;
  padding-bottom: 2vh;
  border-bottom: 3px solid;
}
header ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding-left: 0px;
}

header a,
header span {
  color: black;
  font-weight: 700;
  text-decoration: none;
}
header strong {
  color: #a01127;
  font-size: 3rem;
}

header img {
  width: 60vw;
}
header nav ul li {
  list-style-type: none;
}
header nav ul li a {
  text-decoration: none;
}

header a:hover {
  color: #a01127;
}

@media (min-width: 992px) {
  header ul {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding-left: 10px;
  }
  header ul li {
    margin-right: 10px;
  }
  header ul li span::after {
    content: "|";
  }
}

/* 


Foooter


*/

footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  background-color: grey;
  color: white;
  font-size: 0.9rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
footer a {
  color: white;
  list-style-type: none;
  text-decoration: none;
}
footer img {
  width: 30vw;
}
@media (min-width: 768px) {
  footer {
    flex-direction: row;
    justify-content: space-between;
    padding-right: 20px;
    padding-left: 20px;
  }
}

/* 


Categoria.html 


*/

.container {
  display: flex;
  flex-direction: column;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  width: 100%;
}

.textCenter {
  text-align: center;
}

ul.plats {
  list-style-type: none;
}

ul.plats li {
  padding: 15px;
}
ul.plats li a {
  font-weight: 400;
}
ul.plats li img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

ul.plats li p:first-of-type {
  margin-top: 15px;
}

ul.plats li p:first-of-type::before {
  content: "";
  display: inline-block;
  width: 10%;
  border-top: 4px dotted rgb(155, 23, 0);
  margin-right: 15px;
  margin-bottom: 5px;
}
.imgFluid {
  max-width: 100%;
  height: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
  ul.plats.gridContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, 50%);
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
  ul.plats.gridContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, 33.33333%);
  }
}

/* 


presentacio.html


*/

#videos .video:last-child {
  margin-bottom: 6rem;
}
.video iframe {
  width: 100%;
  height: 40vw;
}
article {
  display: flex;
  flex-direction: column;
  text-align: justify;
  justify-content: space-between;
}

article img {
  margin: 0 auto;
  align-items: center;
}
article picture {
  margin: 0 auto;
  align-items: center;
}

main {
  margin-left: 5rem;
  margin-right: 5rem;
}

main h3 {
  margin-left: 0rem;
  margin-right: 0rem;
  text-decoration: underline;
}
@media (min-width: 992px) {
  article {
    text-align: left;
  }
  article img {
    height: 60vh;
    text-align: center;
  }
  .video iframe {
    display: block;
    width: 40vw;
    height: 25vw;
    margin: 0 auto;
    border: 0;
  }
}

@keyframes bounceIn {
  0% {
    transform: scale(0.1);
    opacity: 0.5;
    background-color: red;
  }
  25% {
    opacity: 1;
    background-color: yellow;
  }
  60% {
    transform: scale(0.9);
    opacity: 0.5;
    background-color: brown;
  }
  100% {
    opacity: 1;
    transform: scale(0.7);
    background-color: rgb(108, 211, 108);
  }
}
.animation {
  width: 100%;
  border-radius: 75px;
  animation: bounceIn 2s;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
}
.animation img {
  width: 45vw;
}

/* 


detall.html


*/

.data img {
  border-radius: 150px;
}
.data li {
  list-style-type: circle;
}
.data ul:last-child li {
  list-style-type: disclosure-closed;
}
.mention iframe {
  text-align: center;
  width: 100%;
  height: 60vh;
}
.gridContainerDetalle {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

@media (min-width: 1200px) {
  .gridContainerDetalle {
    display: grid;
    grid-template-columns: 40% auto;
    column-gap: 50px;
  }
  .gridContainerDetalle iframe {
    width: 40vw;
  }
  .data {
    border-right: 1px grey dashed;
  }
}

/* 


enllacos.html


*/

#enllacos span {
  font-weight: 700;
}
#enllacos ul:first-child li {
  list-style-type: circle;
}

#nomUsuari {
  color: white;
}

/* 

Multimedia PEC2

*/

.clip-css {
  clip-path: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  );
}
.clip-css:hover {
  clip-path: polygon(0% 0%, 100% 0%, 50% 100%, 50% 100%);
}
